
/* Header */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/logo/background.jpg);
  background-size: 100% auto;
  height: 74vh;
}

#header_header {
  justify-content: space-between;
}

.header_header_logo a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_header_logo h2 {
  font-size: 35px;
}

.header_header_nav .nav {
  font-size: 13px;
  font-weight: 900;
}

.header_header_nav .nav a {
  font-size: 18px;
  font-weight: 600;
}

#header_content {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#header_content h1 {
  line-height: 82.5px;
  white-space: nowrap;
}

.avt_header_content {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.content_header_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_header_content h6 {
  line-height: 18.7px;
}

.title_time_header_content,
.title_header_content {
  display: flex;
}

.header_quote {
  display: flex;
}

.header_quote h2 {
  line-height: 32px;
}

.content_quote {
  display: flex;
  align-items: center;
}

.span_line {
  border-bottom: 2px solid var(--black-color);
  width: 40px;
}

.content2_details h3 {
  line-height: 32px;
}

.tag-details {
  display: flex;
  align-items: center;
}

.btn_tag h6 {
  color: var(--para-color);
  padding: 10px;
}

.span-line {
  display: block;
  border-bottom: 1px solid var(--line-color);
}

.author {
  background-color: var(--gray6-color);
  display: flex;
}

.content_author h3 {
  line-height: 32px;
  font-size: 22px;
}

.list_author {
  display: flex;
}

.post {
  display: flex;
  justify-content: space-between;
}

.content_post1 h5,
.content_post2 h5 {
  line-height: 21px;
}

.span_line_post {
  display: block;
  border-bottom: 1.2px solid var(--line-color);
}

.comment h3 {
  line-height: 32px;
}

.header_content_comment1,
.header_content_comment2 {
  display: flex;
  align-items: center;
}

.header_content_comment1 h5,
.header_content_comment2 h5 {
  line-height: 21px;
}

.icon_comments {
  transform: rotate(-25deg);
}

.form h3 {
  line-height: 32px;
}

.comment_form {
  resize: vertical;
  overflow: auto;
  height: auto;
  min-height: 10px;
  background-color: var(--white-color);
  padding-left: 25px;
  border-radius: 10px;
}

/* sidebar */

.search h3 {
  line-height: 32px;
}

.search-form {
  position: relative;
}

.icon_search {
  position: absolute;
  top: 50%;
  left: 90%;
  cursor: pointer;
}

.category h3,
.recent_news h3,
.tag_sidebar h3 {
  line-height: 32px;
}

.category_list li {
  display: flex;
  justify-content: space-between;
}

.category_list li:hover h6 {
  color: var(--blue_main-color);
  padding-left: 10px;
}

.category_list h6 {
  font-weight: 500;
  line-height: 18px;
  color: var(--black_light-color);
  cursor: pointer;
}

.banner {
  height: 385px;
  background-color: var(--blue_dark-color);
  border-radius: 20px;
  position: relative;
  background-image: url(/img/sidebar/Bg.png);
}

.container_banner h3 {
  font-size: 30px;
  line-height: 35px;
  color: var(--white-color);
  top: 30px;
  left: 40px;
  position: relative;
}

.btn_blue {
  position: relative;
  top: 50px;
  left: 40px;
}

.img_banner {
  width: 237px;
  height: 296px;
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
  right: 0;
}

.frame1 {
  position: relative;
  top: -170px;
  left: 313px;
}

.frame2 {
  position: relative;
  top: 100px;
}

/* footer */

.footer {
  margin-top: 220px;
  background-color: var(--black5-color);
}

/* CTA */

.container_footer {
    transform: translateY(-70px);
}

.CTA {
    padding: 40px 60px;
    transform: translateY(-30px);
}

.logo_footer h2 {
    font-size: 35px;
    line-height: 41px;
}

.form_email {
    padding: 5px;
    background-color: var(--white-color);
    border-radius: 20px;
}

/* content footer */

.span_line-footer {
  flex: 1;
  height: 1px;
  background-color: var(--span_line-color);
}

.if_footer {
  display: flex;
}

.box_span {
  display: flex;
  align-items: center;
}

.icon_boxspan {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}