#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(../img/logo/background.jpg);
margin: 0;
padding: 0;
background-size: 100% auto;
background-position: top center;
background-repeat: no-repeat;
height: 74vh;
}

.no-padding {
    padding-right: 0 !important;
}

#header_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.header_header_logo {
    display: flex;
    align-items: center;
    padding-left: 130px;
}

.header_header_logo .logo {
    height: 40px;
    width: 40px;
}

.header_header_logo h2 {
    font-size: 35px;
    font-weight: 600;
    color: var(--white-color);
    padding-left: 10px;
}

.header_header_nav {
}

.header_header_nav .nav {
    list-style: none;
    font-size: 13px;
    font-weight: 900;
    color: var(--white-color);
}

.header_header_nav .nav li {
    padding: 0 20px;
}

.header_header_nav .nav a {
    font-size: 18px;
    color: var(--white-color);
    font-weight: 600;
    text-decoration: none;
    padding: 0 7px;
}

.header_header_nav .nav i {
    padding-top: 10px;
    padding-left: 5px;
}

.header_header_register {
    padding-right: 130px;
}

.button_header_register {
    width: 217px;
    height: 57px;
    background-color: var(--buledark-color);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
}

.button_header_register i {
    transform: rotate(-40deg);
    padding-left: 10px;
}

#header_content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.header_header_content {
    font-size: 75px;
    font-weight: 600;
    color: var(--white-color);
    line-height: 82px;
}

.content_header_content {
    font-size: 24px;
    font-weight: 500;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.content_header_content i {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.custom-container {
    padding: 0 315px;
}

.custom-column {
    padding-top: 130px;
}

.fixed-height-image {
    border-radius: 10px;
    /* bg-primary */
}

.avt_blog1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.header_blog1 {
    display: flex;
    padding-top: 33px;
}

.header_blog1 h6 {
    color: var( --buledark-color);
    line-height: 18.77px;
}

.title_content_blog {
    padding-left: 30px;
    margin-top: -5px;
}

.text_title_content_blog {
    font-size: 16px;
    color: var(--para-color);
}

.title_time_blog {
    padding-left: 30px;
    margin-top: -5px;
    color: var(--para-color);
}

.title_time_blog span {
    padding-left: 10px;
}

.span-line {
    display: block;
    border-bottom: 1px solid var(--line-color);
    width: 100%;
    padding-top: 25px;
}

.content_blog1 .title_content {
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -1px;
    padding-top: 31px;
}

.content_blog1 .para_content {
    font-size: 16px;
    font-weight: 400;
    color: var(--para-color);
    line-height: 30px;
    padding-top: 35px;
}

.btn_black {
    height: 57px;
    width: 209px;
    border-radius: 20px;
    background-color: var(--buledark-color);
    border: none;
    font-size: 18px;
    color: var(--white-color);
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_black i {
    padding-left: 7px;
    transform: rotate(-40deg);
}

.blog2 {
    height: 273px;
    background-color: var(--milkywhite-color);
    border-radius: 10px;
    margin-top: 50px;
}

.para_content_blog2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.group {
    padding-left: 63%;
    margin-top: -55px;
}

.content_blog2 {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}


.blog3 {
    padding-top: 50px;
}

.btn3_black {
    height: 57px;
    width: 209px;
    border-radius: 20px;
    background-color: var(--mainblack-color);
    border: none;
    font-size: 18px;
    color: var(--white-color);
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn3_black i {
    padding-left: 7px;
    transform: rotate(-40deg);
}

.blog4 {
    height: 273px;
    background-color: var(--buledark-color);
    border-radius: 10px;
    margin-top: 50px;
    color: var(--white-color);
}

.page {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.btn_ft_blog {
    height: 45px;
    width: 45px;
    background-color: var(--buledark-color);
    border-radius: 50%;
    border: var(--milkywhite-color);
    margin: 0 7.5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white-color);
}

.text_search {
    line-height: 32px;
    letter-spacing: -1px;
}

.search-form {
    padding-top: 17px;
    display: inline-block;
}

.input_container .input_text {
    height: 65px;
    width: 410px;
    background-color: var(--gray-color);
    border-radius: 10px;
    border: none;
}

::placeholder {
    padding-left: 25px;
}

.input_container {
    position: relative;
    display: inline-block;
}

.input_container i{
    position: absolute; /* Đặt vị trí tuyệt đối để icon có thể di chuyển độc lập với input */
    right: 26px; /* Đặt vị trí từ phía bên phải của input */
    top: 50%; /* Đặt vị trí theo chiều dọc ở giữa */
    transform: translateY(-50%); /* Dịch chuyển icon lên trên để căn giữa theo chiều dọc */
    color: #888; /* Màu của icon */
}

.category {
    padding-top: 50px;
    width: 410px;
    font-weight: 600;
}

.text_category {
    color: var(--mainblack-color);
}

.category .category_list li {
    list-style: none;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.category .category_list a {
    text-decoration: none;
    color: var(--mainblack-color);
}

.text_recent_news {
    color: var(--mainblack-color);
    padding-top: 50px;
}

.recent1 {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.content_recent1,
.content_recent2,
.content_recent3 {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.content1_content_recent1 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.time_recent1 {
    font-size: 16px;
    font-weight: 400;
    color: var(--para-color);
    padding-top: 9px;
}

.span-line1 {
    display: block;
    border-bottom: 1px solid var(--line-color);
    width: 80%;
    padding-top: 10px;
    padding-bottom: 3px;
}

.para_recent1 {
    font-size: 18px;
    font-weight: 600;
}

.text_tag {
    padding-top: 50px;
    color: var(--mainblack-color);
}

.button_tag {
    padding-top: 40px;
}

.button2_tag,
.button3_tag,
.button4_tag,
.button5_tag,
.button6_tag {
    height: 41px;
    background-color: var(--white-color);
    border: 1px solid var(--para-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--para-color);
    margin-right: 5px;
    margin-bottom: 10px;
}

.button1_tag {
    width: 117px;
    height: 41px;
    background-color: var(--buledark-color);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
    margin-right: 5px;
    margin-bottom: 10px;
}

.button2_tag {
    width: 101px;
}

.button3_tag {
    width: 136px;
}

.button4_tag {
    width: 144px;
}

.button5_tag {
    width: 102px;
}

.button6_tag {
    width: 91px;
}

.banner {
    height: 385px;
    width: 410px;
    background-color: var(--buledark-color);
    border-radius: 20px;
    position: relative;
    background-image: url(/img/sidebar/Bg.png);
    margin-top: 50px;
}

.text_banner {
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -1px;
    color: var(--white-color);
    top: 30px;
    left: 40px;
    position: relative;
}

.button_banner {
    position: relative;
    top: 90px;
    right: 133px;
    height: 57px;
    width: 191px;
    background-color: var(--mainblue-color);
    border: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
}

.button_banner i {
    margin-left: 10px;
}

.imgbanner {
    width: 237px;
    height: 296px;
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
}

.frame1 {
    position: relative;
    top: -140px;
    left: 313px;
}

.frame2 {
    position: relative;
    top: 135px;
}

#footer {
    margin-top: 218px;
}

.header_footer {
    height: 185px;
    background-color: var(--buledark-color);
    z-index: 1;
    border-radius: 15px;
}

.logo2 {
    height: 40px;
    width: 40px;
}

.logo_footer{
    display: flex;
    padding-top: 57px;
    padding-left: 60px;
}

.logo_footer h1 {
    color: var(--white-color);
    font-size: 35px;
    padding-left: 8.5px;
}

.text_header_footer_logo {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    padding-left: 60px;
}

.header_footer_email {
    padding-top: 40px;
}

.header_footer_email h4 {
    color: var(--white-color);
    padding-left: 33px;
}

.email {
    height: 67px;
    width: 507px;
    border-radius: 15px;
    border: none;
}

.form_email {
    display: inline-block;
    padding-left: 34px;
}

.input_container_email {
    position: relative;
    display: inline-block;
}

.btnsg {
    height: 47px;
    border: none;
    background-color: var(--mainblack-color);
    color: var(--white-color);
    padding: 0 25px;
    border-radius: 10px;
    position: relative;
    left: 370px;
    bottom: 56px;
}

.btnsg i {
    transform: rotate(-40deg);
}

.footer {
    width: 100%;
    background-color: var(--mainblack-color);
    color: var(--white-color);
}

.about p,
.resources li,
.quicklink li,
.company li,
.contact li {
    color: var(--textfooter-color);
}

.span-linefooter {
    display: block;
    border-bottom: 1px solid red;
    width: 100%;
}