/**
  * Name: Akpager
  * Version: 1.0
  * Author: Võ Thành An
  * Author URI: http://www.themesflat.com
*/

/* @import url("font-awesome.css"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset
-------------------------------------------------------------- */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0));
  /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/25px "Work Sans", sans-serif;
  font-weight: 600;
  background-color: #fff;
  color: #000000;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
     -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.img-left {
  margin: -10px 50px 0 0 !important;
  float: left;
}

.img-right {
  margin: 0 0 0 50px !important;
  float: right;
}

b,
strong {
  font-weight: 900;
}

.entry-page p {
  margin-bottom: 25px;
}

.padding-left61px {
  padding-left: 61px;
}

.about-wrap.padding-left61px {
  padding-right: 15px;
}

.margin-top93px {
  margin-top: 93px;
}

h1 {
  font: 75px/75px "Work Sans", sans-serif;
}

h2 {
  font: 30px/30px "Work Sans", sans-serif;
}

h3 {
  font: 24px/24px "Work Sans", sans-serif;
}

h4 {
  font: 20px/20px "Work Sans", sans-serif;
}

h5 {
  font: 18px/18px "Work Sans", sans-serif;
}

h6 {
  font: 16px/16px "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 600;
  letter-spacing: -3%;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--para-color);
  /* letter-spacing: -1px; */
}

button {
  border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  /* text-transform: uppercase; */
  border-width: 1px;
  border-style: solid;
  border-color: #202020;
  padding: 7px 21px;
     -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
         -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
             transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  color: rgba(105, 105, 105, 1);
  background-color: rgba(241, 245, 255, 1);
  height: 50px;
  padding: 12px 30px;
  border-radius: 0;
     -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
             transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
     -webkit-box-shadow: none;
        -moz-box-shadow: none;
             box-shadow: none;
}

textarea {
  width: 100%;
  height: 166px;
  padding: 15px 30px;
}

input[type="checkbox"] {
  display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: rgba(105, 105, 105, 1);
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: rgba(105, 105, 105, 1);
  opacity: 1;
}

/* bootstrap resetting elements */
.btn {
  background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
   -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
   color: rgba(105, 105, 105, 1);
}

.blog-single .entry p {
  margin-bottom: 25px;
}

.custom-container {
  width: 1290px;
  max-width: 100%;
}

.custom-column {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.custom-column .col-md-8 {
  flex: 1;
  min-width: calc((100% / 12 * 8) - 30px); /* Chiều rộng của col-8 */
}
.custom-column .col-md-4 {
  flex: 1;
  min-width: calc((100% / 12 * 4) - 30px); /* Chiều rộng của col-4 */
}

/* Header
-------------------------------------------------------------- */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/logo/background.jpg);
  background-size: 100% auto;
  height: 74vh;
}

.header-inner {
  padding: 30px 130px 0 130px;
  display: flex;
  align-items: center;
}

.ms-lg-auto {
  margin-left: auto;
}

.menu {
  display: flex;
}

.mainnav .menu li {
  padding: 20px;
}

.mainnav .menu li i {
  margin-left: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 13px;
}

a.theme-btn  {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 45px;
  border-radius: 20px;
  overflow: hidden;
  background-size: 202% 202%;
}

.menu-btns a.theme-btn {
  background-image: linear-gradient(to top, var(--blue_dark-color) 50%, var(--black_main-color) 50%);
  background-position: bottom;
}

.menu-btns .theme-btn:hover {
  background-position: top;
}

/* navigation */

#mainnav ul li {
  position: relative;
}

#mainnav ul li ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainnav li:hover > ul {    	
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
 opacity: 1;
  visibility: visible; 
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);  
}

#mainnav ul li ul li:hover > ul {
	left: 230px;
}

#mainnav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  line-height: 21.12px;	
}

#mainnav ul li ul li a,
#mainnav ul li ul li i{
  color: #000000;
}

#mainnav ul li ul li a:hover,
#mainnav ul li ul li ul li a:hover{
	color: rgba(0, 85, 255, 1);	
}

#mainnav > ul > li.active > a {
	color: #2bb0ef;	
}

#mainnav ul li ul {
	width: 200px;
	background: #fff;	
	position: absolute;	
	z-index: 9999;
	left: 0; 
	top: 100%;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
       opacity: 0;
        filter: alpha(opacity=0); 
	visibility: hidden;
    -webkit-transform: translate(0px, 10px);
		   -moz-transform: translate(0px, -10px);
		    -ms-transform: translate(0px, -10px);
		     -o-transform: translate(0px, -10px);
		        transform: translate(0px, -10px);
	   -webkit-transition: all 0.2s ease-in-out;
	      -moz-transition: all 0.2s ease-in-out;
	       -ms-transition: all 0.2s ease-in-out;
	        -o-transition: all 0.2s ease-in-out;
	           transition: all 0.2s ease-in-out;
}

#mainnav ul li ul li {
	padding: 10px 15px;
	border-top: 1px solid #c1c1c1;	
}

#mainnav ul li ul li ul {			
	left: 225px;
	top: -1px;
	margin-left: -30px;
	background-color: #ffffff;
}

.theme-btn i {
  transform: rotate(-40deg);
}

/* page banner area */

.page-banner-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.banner-page {
  display: flex;
  justify-content: center;
}

.banner-inner h1 {
  color: #ffffff;
  margin-bottom: 30px;
}

.banner-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info li h3 {
  color: #ffffff;
  line-height: 28.15px;
}

.banner-info li i {
  color: #ffffff;
  margin: 0 15px;
}

/* section body
-------------------------------------------------------------- */
.blog-standard {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* Blog */

.blog-standard-wrap {
  max-width: 770px;
}

.blog-standard-item {
  margin-bottom: 50px;
}

.blog-standard-item .image img {
  width: 100%;
  border-radius: 12px;
}

.blog-standard-item .blog-meta li:not(:last-child) {
  margin-right: 30px;
}

.blog-standard-item .blog-meta {
  padding: 22px 0;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.blog-meta {
  border-bottom: 1px solid rgba(0, 25, 76, 0.1);
}

.blog-standard-item .blog-meta li .category {
  color: rgba(0, 85, 255, 1);
  font-weight: 700;
}

.blog-meta li img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 7px;
}

a {
  color: rgba(105, 105, 105, 1);
}

.blog-meta li i {
  color: rgba(105, 105, 105, 1);
  margin-right: 7px;
  margin-top: 2px;
}

.content h3 {
  margin-bottom: 15px;
}

h3 a {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 35.19px;
  letter-spacing: -2px;
  font-family: "Work Sans", sans-serif;
}

h3 a:hover {
  color: #000000;
}

.blog-standard-item .content p {
  margin-bottom: 30px;
}

.content a.theme-btn {
  background-image: linear-gradient(to left, var(--black_light-color) 50%, var(--blue_dark-color) 50%);
  background-position: right;
}

.content a.theme-btn:hover {
  background-position: left;
}

/* Blockquote-three */

.blockquote-three {
  border-radius: 12px;
  padding: 40px 60px 45px;
  margin-bottom: 50px;
}

.blockquote-three .text,
.blockquote-three .texts {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 50px;
}

.blockquote-three .text::after,
.blockquote-three .texts::after {
  content: "";
  display: inline-block;
  width: 55px;
  height: 45px;
  background-size: cover;
  background-position: center;
  transform: translate(10px, 30px) rotate(180deg) scaleX(-1) scaleY(-1);
}

.blockquote-three .text::after {
  background-image: url(../images/group.png);
}

.blockquote-three .texts::after {
  background-image: url(../images/group2.png);

}

.blockquote-three .name {
  line-height: 30px;
}

.blockquote-three .designation {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

/* pagination */
.pagination {
  padding-top: 20px;
}

.pagination li {
  margin: 0 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pagination li span {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.pagination li span:hover {
  background-color: rgba(0, 85, 255, 1);
  color: #ffffff;
}

/* Sidebar
-------------------------------------------------------------- */

/* search */
.widget-search {
  margin-bottom: 10px;
}

.widget-title {
  margin-bottom: 17px;
}

.search-form input {
  border-radius: 15px;
  padding: 27px 0 26px 25px;
  width: 100%;
  height: auto;
}

.search-form .search_button::after{
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: cover;
  background-position: center;
  background-image: url(../icon/search.png);
  transform: translate(360px,-45px);
}

/* category */

.widget-category {
  margin-bottom: 40px;
}

.widget-category ul li{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.widget-category ul li a {
  font-size: 16px;
  color: rgba(0, 25, 76, 1);
}

.widget-category ul li:hover a {
  color: #2bb0ef;
}

/* recent new */

.widget-recent-new {
  margin-bottom: 50px;
}

.widget-recent-new ul li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.widget-recent-new ul li .image {
  min-width: 100px;
  margin-right: 30px;
}

.widget-recent-new ul li .date {
  color: rgba(105, 105, 105, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.widget-recent-new ul li h6 a {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.12px;
}

.widget-recent-new ul li h6 {
  margin-top: 15px;
  border-top: 1px solid rgba(105, 105, 105, 1);
}

/* popular tag */

.widget-popular-tag {
  margin-bottom: 50px;
}

.popular-tag-could {
  display: flex;
  flex-wrap: wrap;
}

.widget-popular-tag .popular-tag-could a {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.77px;
  padding: 10px 17px;
  margin: 10px 5px 0;
  border: 1px solid rgba(0, 25, 76, 0.1);
  border-radius: 10px;
}

.widget-popular-tag .popular-tag-could a:hover {
  color: #ffffff;
  background-color: rgba(0, 85, 255, 1);
}

/* banner */

.widget-banner {
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  padding: 40px 40px 130px;
  background-color: rgba(0, 85, 255, 1);
}

.widget-banner h2 {
  color: #ffffff;
  max-width: 170px;
  line-height: 35.19px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.widget-banner .theme-btn {
  background-color: rgba(0, 149, 255, 1);
}

.widget-banner .icon-banner::after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: cover;
  background-position: center;
  background-image: url(../icon/right.png);
  transform: translate(-45px, 2px);
}

.widget-banner .man {
  z-index: -1;
  position: absolute;
  right: 4%;
  bottom: 0;
  max-width: 90%;
}

.widget-banner .bg {
  background-image: url(../images/cta-bg.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Footer
-------------------------------------------------------------- */

.footer-one {
  background-color: rgba(21, 31, 57, 1);
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

/* CTA */

.CTA {
  padding: 40px 60px;
  border-radius: 15px;
  margin-bottom: -15px;
  background-color: rgba(0, 85, 255, 1);
  transform: translateY(-100px);
}

.logo .para-logo_ft {
  color: #ffffff;
  padding-top: 20px;
  margin-bottom: -10px;
}

.form-part h4 {
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 20px;
}

.form-email {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.form-part .form-email input{
  border-radius: 15px;
  padding: 28px 0 28px 30px;
  max-width: 308px;
  border: none;
  background-color: #ffffff;
}

.form-part .form-email button {
  background-color: rgba(21, 31, 57, 1);
  color: #ffffff;
  border-radius: 12px;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.6px;
}

.form-part .form-email button::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
  transform: translate(10px,3px);
  background-image: url(../icon/right.png);
}

.form-part .form-email button {
  position: absolute;
  right: 10px;
}

/* body footer */

.body-footer {
  margin-bottom: 50px;
}

.footer-title {
  color: #ffffff;
  margin-bottom: 40px;
}

.widget-about p {
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.social-style {
  flex-wrap: wrap;
  display: inline-flex;
  margin-left: -5px;
}

.social-style a {
  color: rgba(126, 145, 195, 1);
  margin: 10px 5px 0;
  height: 45px;
  width: 45px;
  background-color: rgba(39, 53, 87, 1);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.social-style a:hover {
  background-color: rgba(0, 85, 255, 1);
  color: #ffffff;
}

/* content footer */

.widget-footer ul li a {
  font-weight: 500;
  line-height: 40px;
}

.widget-footer ul li a:hover {
  color: #ffffff;
}

/* location footer */

.widget-footer ul li {
  display: flex;
}

.widget-footer ul li i {
  color: #ffffff;
  margin-right: 10px;
  margin-top: 15px;
}

/* footer bottom */
.footer-bottom {
  position: relative;
  margin-top: 100px;
  padding: 15px 0;
}

.footer-bottom .row {
  display: flex;
  align-items: center;
}

.copyright-text {
  text-align: left;
}

.copyright-text p {
  line-height: 19.36px;
}

.copyright-text a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.footer-bottom-menu {
  text-align: right;
}

.footer-bottom-menu ul {
  display: inline-flex;
  margin-right: -15px;
}

.footer-bottom-menu ul li {
  margin: 0 15px;
}

.footer-bottom-menu ul li a {
  font-size: 16px;
  line-height: 19.36px;
  color: rgba(255, 255, 255, 0.55);
  font-weight: 400;
}

.footer-bottom-menu ul li a:hover {
  color: #ffffff;
}

.footer-bottom .scroll-top {
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  border-radius: 14px;
  background-color: rgba(254, 196, 88, 1);
  display: inline-block;
  position: absolute;
  left: calc(50% - 27px);
  top: -40px;
  display: grid;
  place-items: center;
}

.scroll-top::before,
.scroll-top::after {
  content: "";
  position: absolute;
  width: 1200%; 
  height: 1px; 
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-50%);
}

.scroll-top::before {
  left: -10%; 
}

.scroll-top::after {
  right: -10%; 
}
